<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

<title>Playlist Search</title>
</head>
<body>
  <div class="container">
    <h3 class="text-center w-100 mt-3 mb-3"><a href='/'>Playlist Search</a></h3>
    <div class="w-100 mb-3">
      <form action="/" method="get">
        <div class="input-group">
          <input type="text" name="question" class="form-control"
                 placeholder="Ask me something about music...">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="w-100 mb-3 border border-info rounded"
         style="height: 80px; overflow: scroll;">
      <ul>
      {% for record in search_history|reverse %}  <!--讓最新的搜尋紀錄放在最上面-->
        <li><b>{{ record.q }}</b>:
        {% if record.id %}
          <a target="_blank"
             href="https://www.kkbox.com/tw/tc/playlist/{{ record.id }}">
            {{ record.title }}
          </a>
        {% else %}
          <span>Found nothing...</span>
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="d-flex justify-content-center">
      {% if playlist_id %}
        <iframe width="320" height="470" frameborder="0" scrolling="no"
                src="https://widget.kkbox.com/v1/?id={{playlist_id}}&type=playlist&terr=tw&lang=tc&autoplay=true&loop=true">
        </iframe>
      {% endif %}
    </div>
  </div>
</body>
</html>